[submodule "cs/3rd party/jpeg"]
	path = cs/3rd party/jpeg
	url = https://github.com/winlibs/libjpeg.git
[submodule "cs/3rd party/BugTrap"]
	path = cs/3rd party/BugTrap
	url = https://github.com/Armada651/BugTrap.git
[submodule "cs/3rd party/OpenAutomate"]
	path = cs/3rd party/OpenAutomate
	url = https://github.com/Armada651/OpenAutomate.git
[submodule "cs/3rd party/glew"]
	path = cs/3rd party/glew
	url = https://github.com/Armada651/glew.git
[submodule "cs/3rd party/gli"]
	path = cs/3rd party/gli
	url = https://github.com/Armada651/gli.git
