Makefile
Makefile.in
*.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.sw*
*~
*.pc

compile
libtheora.spec
test-driver
lib/arm/armopts.s

doc/Doxyfile
doc/doxygen-build.stamp
doc/libtheora/
doc/spec/vp3huff
doc/spec/Theora.pdf
doc/spec/fdct.pdf
doc/spec/hilbert-block.pdf
doc/spec/hilbert-mb.pdf
doc/spec/idct.pdf
doc/spec/lflim.pdf
doc/spec/macroblock.pdf
doc/spec/pic-frame.pdf
doc/spec/pic_even.pdf
doc/spec/pic_even_odd.pdf
doc/spec/pic_odd.pdf
doc/spec/pic_odd_even.pdf
doc/spec/pixel420.pdf
doc/spec/pixel422.pdf
doc/spec/pixel444.pdf
doc/spec/raster-block.pdf
doc/spec/reference-frames.pdf
doc/spec/spec.aux
doc/spec/spec.bbl
doc/spec/spec.blg
doc/spec/spec.lof
doc/spec/spec.log
doc/spec/spec.lot
doc/spec/spec.out
doc/spec/spec.toc
doc/spec/superblock.pdf
doc/spec/vp3huff.aux
doc/spec/vp3huff.tex
doc/spec/xifish.pdf

examples/dump_psnr
examples/dump_video
examples/libtheora_info
examples/encoder_example
examples/player_example
examples/png2theora
examples/tiff2theora
